body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(highrise.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    content: "";
    background-color: rgba(0, 0, 255, 0.3);
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  
  .head{
    z-index: 2;
      height: 70px;
      background-image:url(backgroundbanner.jpg);
      background-position: right;
      background-repeat: no-repeat;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgb(255, 207, 16);
      width: 100%;
      z-index: 1000;
  }
  
  .img1{
      float: left;
      width: 60px;
      height: 60px;
      margin-top: 8px;
      margin-left: 30px;
    }

  .head ul{
    list-style: none;
    display: flex;
    margin-left: 820px;
  }
  
  .head ul li{
    margin-top: 3px;
    padding: 8px 8px;
  }
  
  .head ul li a{
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  
    text-decoration: solid;
    color: #80331c;
    margin-top: 25px;
    cursor: pointer;
    font-size: medium;
    transition: all 0.3s;
  }
  .head ul li a:hover{
    color: white;
  }
  
  
  .sub-menu-1{
    margin-left: -10px;
    display: none;
  }
  .head ul li:hover .sub-menu-1{
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: 1020px;
    background-color: rgb(255, 225, 0);
  }
  .head ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
  }
  
  .sub-menu-1 ul li{
    font-weight: bold;
    font-size: small;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  
  }






  .contac{
  
    margin-left: 20px;
    margin-top: 130px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 1480px;
    height: 1550px;
    margin-bottom: 50px;
  }


  iframe{
    height: 300px;
    width: 500px;
  }

  .hello{
    display: flex;
    margin-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .b1{
    flex: 1;
    padding: 30px 10px;
    height: 200px;
    width: 200px;
  
    border-color: white;
    text-align: center;

  }
  .heading{
    font-size: xx-large;
    font-weight: 1000;
    color: white;
    
  }

  h2{
    margin-left: 110px;
    color: rgb(255, 128, 0);
    text-align: left;
    font-weight: 900;
    -webkit-text-stroke: 1px #ffffff; 
    

  }
  .add{
    color: white;
    font-size: large;
    text-align: left;
    margin-left: 110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .forms{
    margin-top: 600px;
  }

  h1{
    color: white;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  input{

    background-color: rgb(226, 225, 225);
    width: 74%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  textarea{
    background-color: rgb(226, 225, 225);
    width: 74%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  input:focus-within{
    outline: none;
    border-color: green;
    border-width: 3px;
  }
  textarea:focus-within{
    outline: none;
    border-color: green;
    border-width: 3px;
  }

  button{
    background-color: #ffa200;
    color: black;
    border-radius: 20px;
   
    font-size: 20px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
    font-weight: bold;
  }
  button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    opacity: 70%;
  }
  

  
  






  /* services offerred waala list */
  .sub-menu-2{
    margin-left: -10px;
    display: none;
    max-height: 380px;
    overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  }
  .sub-menu-2::-webkit-scrollbar{
    width: 6px;
  }
  .sub-menu-2::-webkit-scrollbar-thumb {
    background-color: rgb(0, 157, 255); 
    border-radius: 3px;
  }
  .sub-menu-2::-webkit-scrollbar-track {
    background-color: rgb(255, 225, 0); /* Customize the scrollbar track color */
  }
  .head ul li:hover .sub-menu-2{
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: 1150px;
    background-color: rgb(255, 225, 0);
  }
  .head ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 5px;
  }
  
  .sub-menu-2 ul li{
    font-weight: bold;
    font-size: small;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  
  }

  





  @media (max-width: 767px){
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(highrise.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      content: "";
      background-color: rgba(0, 0, 255, 0.3);
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .head{
      z-index: 2;
      height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(255, 207, 16);
        width: 99.36%;
        z-index: 1000;
        animation: blink is infinite;
      }
      @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    
      .img1{
        float: left;
        width: 40px;
        height: 40px;
        margin-top: 8px;
        margin-left: 10px;
      }
      .head ul{
        list-style: none;
        display: flex;
        margin-left: 40px;
      }
      
      .head ul li{
        margin-top: -3px;
        padding: 2px 2px;
      }
      
      .head ul li a{
        padding-bottom: 25px;
        padding-top: 20px;
        padding-left: 1px;
        padding-right: 2px;
    
        font-weight: bold;
        text-decoration: solid;
        color: #80331c;
        margin-top: 25px;
        cursor: pointer;
        font-size: 9px;
        transition: all 0.3s;
      }
      .head ul li a:hover{
        color: white;
      }
      
      
      .sub-menu-1{
        margin-left: -10px;
        display: none;
      }
      .head ul li:hover .sub-menu-1{
        z-index: 2;
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        margin-left: 1020px;
        background-color: rgb(255, 225, 0);
        display: none;
      }
      .head ul li:hover .sub-menu-1 ul{
        display: block;
        margin: 5px;
        display: none;
      }
      
      .sub-menu-1 ul li{
        font-weight: bold;
        font-size: small;
        width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: left;
        display: none;
      
      }
    
    
      /* services offerred waala list */
      .sub-menu-2{
        margin-left: -10px;
        display: none;
        max-height: 380px;
        overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      }
      .sub-menu-2::-webkit-scrollbar{
        width: 6px;
        display: none;
      }
      .sub-menu-2::-webkit-scrollbar-thumb {
        background-color: rgb(0, 157, 255); 
        border-radius: 3px;
        display: none;
      }
      .sub-menu-2::-webkit-scrollbar-track {
        background-color: rgb(255, 225, 0); /* Customize the scrollbar track color */
        display: none;
      }
      .head ul li:hover .sub-menu-2{
        z-index: 2;
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        margin-left: 1150px;
        background-color: rgb(255, 225, 0);
        display: none;
      }
      .head ul li:hover .sub-menu-2 ul{
        display: block;
        margin: 5px;
        display: none;
      }
      
      .sub-menu-2 ul li{
        font-weight: bold;
        font-size: small;
        width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: left;
        display: none;
      
      }




      .contac{
        
        margin-left: 9px;
        margin-top: 80px;
        background-color: rgba(0, 0, 0, 0.6);
        width: 95%;
        height: 2400px;
        margin-bottom: 40px;
        
      }
    
      .hello{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    
      .b1{
        height: 200px;
        width: 200px;
        text-align: center;
    
      }
      .heading{
        font-size: xx-large;
        font-weight: 1000;
        color: white;
        text-align: center;
        margin-left: -13px;
      }
    
      h2{
        margin-left: 0px;
        color: rgb(255, 128, 0);
        text-align: center;
        font-weight: 900;
        -webkit-text-stroke: 1px #ffffff; 
      }

      iframe{
        height: 200px;
        width: 200px;
      }


      .add{
        color: white;
        font-size: large;
        font-weight: bold;
        margin-left: 0px;
        text-align: center;
      }

      .forms{
        margin-top: 0px;
      }
    
      h1{
        color: white;
        font-weight: bolder;
        padding-top: 10px;
        text-align: center;
        font-size: 60px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      input{
    
        background-color: rgb(226, 225, 225);
        width: 70%;
        margin-left: 12%;
        font-size: 19px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      textarea{
        background-color: rgb(226, 225, 225);
        width: 70%;
        margin-left: 12%;
        font-size: 19px;
        padding: 16px 16px;
        border-radius: 10px;
        border-color: black;
        margin-bottom: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    
      input:focus-within{
        outline: none;
        border-color: green;
        border-width: 3px;
      }
      textarea:focus-within{
        outline: none;
        border-color: green;
        border-width: 3px;
      }
    
      button{
        background-color: #ffa200;
        color: black;
        border-radius: 20px;
       
        font-size: 20px;
        padding: 10px 18px;
        text-align: center;
        display: flex;
        margin: auto;
        font-weight: bold;
      }
      button:hover{
        background-color: red;
        color: white;
        cursor: pointer;
        opacity: 70%;
      }
      
      











      
    .foot{
      text-align: center;
      padding: 3px;
      margin-top: 250px;
      margin-bottom: 0px;
      height: 150px;
     
    }
    .foots{
      background-color: rgb(255, 207, 16);
      height: 235px;
      
    }
  
    .new{
      display: flex;
     
    }
  
    .new1{
      flex: 1;
      margin-left: 3px;
      padding: 3px;
     
    }
    .text{
      font-weight: bolder;
      font-size: small;
      text-align: left;
      color: #006eff;
      
    }
    .texts{
      font-size: 7px;
      color: black;
      text-align: left;
      text-decoration: solid;
      font-weight: 500;
      
    }
    .texts a:hover{
      color: rgb(12, 74, 8);
      
    }
    
    .tel{
      float: left;
      margin-top: 8px;
      width: 15px;
      height: 15px;
      
    }
  
    .telephone{
      display: flex;
     
    }
  
    .tele1{
      float: left;
     
    }
    .videocont{
      margin-top: 30px;
      width: 120px;
      height: 80px;
     
    }
    .videocont iframe{
      width: 100%;
      height: 100%;
      
    }
    
  
    

  }