body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  
  .head{
  z-index: 2;
  height: 70px;
    background-image:url(backgroundbanner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 207, 16);
    width: 100%;
    z-index: 1000;
    animation: blink is infinite;
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  .img1{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-left: 30px;
  }
  
  .head ul{
    list-style: none;
    display: flex;
    margin-left: 820px;
  }
  
  .head ul li{
    margin-top: 3px;
    padding: 8px 8px;
  }
  
  .head ul li a{
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  
    text-decoration: solid;
    color: #80331c;
    margin-top: 25px;
    cursor: pointer;
    font-size: medium;
    transition: all 0.3s;
  }
  .head ul li a:hover{
    color: white;
  }
  
  
  .sub-menu-1{
    margin-left: -10px;
    display: none;
  }
  .head ul li:hover .sub-menu-1{
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: 1020px;
    background-color: rgb(255, 225, 0);
  }
  .head ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
  }
  
  .sub-menu-1 ul li{
    font-weight: bold;
    font-size: small;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  
  }
  /* services offerred waala list */
  .sub-menu-2{
    margin-left: -10px;
    display: none;
    max-height: 380px;
    overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  }
  .sub-menu-2::-webkit-scrollbar{
    width: 6px;
  }
  .sub-menu-2::-webkit-scrollbar-thumb {
    background-color: rgb(0, 157, 255); 
    border-radius: 3px;
  }
  .sub-menu-2::-webkit-scrollbar-track {
    background-color: rgb(255, 225, 0); /* Customize the scrollbar track color */
  }
  .head ul li:hover .sub-menu-2{
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin-left: 1150px;
    background-color: rgb(255, 225, 0);
  }
  .head ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 5px;
  }
  
  .sub-menu-2 ul li{
    font-weight: bold;
    font-size: small;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
  
  }

  .hells{
    margin-left: 100px;
    margin-top: 110px;
    margin-right: 100px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.355);
    height: 955px;
    margin-bottom: 60px;
    display: flex;
    
  }

  .hell1{
    width: 42%; 
    padding: 15px;
    margin-top: 50px;
    margin-bottom: -50px;
    flex: 1;
    height: 850px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 30px;
    margin-right: 20px;

  }

  .top{
    font-weight: bolder;
    font-size: medium;
  }
  .tops{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .but{
    border: 0px;
    border-radius: 10px;
    height: 50px;
    font-weight: bolder;
    font-size: large;
    margin-left: 185px;
    background-color: rgb(255, 132, 0);
  }
  .but:hover{
    background-color: rgb(0, 107, 29);
    color: white;
  }

  
  
  
  /* Footer */
  .foot{
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    height: 350px;
  }
  
  .foots{
    background-color: rgb(255, 207, 16);
  }
  
  .new{
    display: flex;
  }
  
  .new1{
    flex: 1;
    margin-left: 30px;
    padding: 20px;
  }
  .text{
    font-weight: bolder;
    font-size: x-large;
    text-align: left;
    color: #006eff;
  }
  .texts{
    font-size: larger;
    color: black;
    text-align: left;
    text-decoration: solid;
    font-weight: 500;
  }
  .texts a:hover{
    color: rgb(12, 74, 8);
  }
  
  .tel{
    float: left;
    margin-top: 8px;
    width: 40px;
    height: 40px;
  }
  
  .telephone{
    display: flex;
  }
  
  .tele1{
    float: left;
  }


  